@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');

:root {
    --primary: #0d6efd;
    --ffs: 'pnum' on, 'lnum' on;
    --inter: 'Inter', sans-serif;
    --josefin: 'Josefin Sans', sans-serif;
    --dm: 'DM Sans', sans-serif;
    --encode: 'Encode Sans', sans-serif;   
}

:is(nav, .mailto) {
    font-family: var(--josefin);
}

:is(.frame-one, .frame-two,
    .frame-tri, .frame-foe,
    .frame-faiv, footer) {
        font-family: var(--dm);
    }

.navul a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

:is(.frame-foe, .frame-faiv) img {
    position: relative;
}

img[alt="i"]{
    left: 10cm;
    top: 1cm;
}
img[alt="ii"]{
    left: 7cm;
    top: 2cm;
    z-index: 1;
}
img[alt="iii"]{
    left: 3.5cm;
    top: 5cm;
}
img[alt="iv"]{
    top: 2.5cm;
}
img[alt="vi"]{
    right: 5.1cm;
    top: 4cm;
    z-index: 1;
}
img[alt="vii"]{
    right: 7.6cm;
}
img[alt="viii"]{
    right: 16cm;
    top: 3.7cm;
}

.fol {
    position: relative;
    bottom: 1cm;
    right: 9cm;
}

:is(.lead, .fol) p:nth-child(2) {
    font-size: 15px;
}

.addmailtel > div > iconify-icon {
    scale: 2;
}

.footer-socials a {
    cursor: pointer;
}

.footer-socials a:hover {
    animation: shake 2s infinite;
}

.footer-socials iconify-icon {
    scale: 1.5;
}

.footer-links a {
    text-decoration: none;
}

@keyframes shake {
    10%{ transform: scale(1.55) rotate(5deg);}
    20%{ transform: scale(1.55) rotate(-5deg);}
    30%{ transform: scale(1.55) rotate(5deg);}
    40%{ transform: none;}
}
@media screen and (min-width: 200px) and (max-width: 480px) {
    
    
    .cir {
        width: 90px;
        height: 90px;
        border-radius: 45px;
        display: grid;
        place-items: center;
    }

    .cir :is(.instafood, .ledger) {
        scale: 0.7;
    }


}