@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&family=Josefin+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');

:root {
    --primary: #0d6efd;
    --ffs: 'pnum' on, 'lnum' on;
    --inter: 'Inter', sans-serif;
    --josefin: 'Josefin Sans', sans-serif;
    --dm: 'DM Sans', sans-serif;
    --encode: 'Encode Sans', sans-serif;
    --fs-1: 27px;
    --fs-2: 15px;
    --fs-3: 20px;
    --fs-4: 40px;   
}

:is(.pfrO, .pfrTh, .pfrF,
    .pfrS, .pfrSv, .pfrN,
    footer) {font-family: var(--dm);}

:is(.navul a, button) {font-family: var(--josefin);}

.navul a:hover {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}

.pfrN :is( #vrblog, #techblog) {display: none;}

.addmailtel > div > iconify-icon {
    scale: 2;
}

.footer-socials a {
    cursor: pointer;
}

.footer-socials a:hover {
    animation: shake 2s infinite;
}

.footer-socials iconify-icon {
    scale: 1.5;
}

.footer-links a {
    text-decoration: none;
}

@keyframes shake {
    10%{ transform: scale(1.55) rotate(5deg);}
    20%{ transform: scale(1.55) rotate(-5deg);}
    30%{ transform: scale(1.55) rotate(5deg);}
    40%{ transform: none;}
}