@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&family=Josefin+Sans:wght@600&display=swap');
:root{
    --body-bg: #F5F5F5;
    --primary: #0C5FAF;
    --text: #021324;
    --secondary: #0CAFAC;
    --neutral: #FFFFFF;
    --drpcolor: #F9F9F9;
    --grey: #DDD;
    --godark: #000000;
    --bg-blend: unset;
    --blur: 1px;
    --fg-blend: screen;
    --body-text-font: 'DM Sans', sans-serif;
    --body-text-font-style: normal;
    --body-text-font-weight: 400;
    --body-text-font-size: 20px;
    --body-text-line-height: 56px;
    --body-mid-text-font-weight: 500;
    --body-mid-text-font-size: 25px;
    --body-mid-text-line-height: 32.55px;
    --bold-body-text-font-weight: 700;
    --bold-body-text-font-size: 25px;
    --bold-body-text-line-height: 56px;
    --bold-body-text-letter-spacing: 0.01em;
    --bold-body-text-font-feature-settings: 'pnum' on, 'lnum' on;
    --big-body-text-font-size: 30.06px;
    --big-body-text-line-height: 51px;
    --header-text2-line-height: 50px;
    --header-text1-font-size: 38.83px;
    --header-text1-line-height: 63.58px;
    --interfont: 'Inter', sans-serif;
    --btntff: 'Josefin Sans', sans-serif;
    --btntfw: 600;
    --btntfs: 20px;
    --btntlh: 20px;
}
nav{
    font-family: var(--body-text-font);
    font-size: var(--body-text-font-size);
}
#logo{
    width: 190px;
    height: 50px;
    margin-left: 2.1cm;
}
.navList{
    float: right;
    padding: 0 2.5rem;
}
.navList:hover{
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
#first-div{
    background-image: url("img1.jpeg");
    background-size: cover;
    height: 600px;
}
#first-div-p{
    float: right;
    width: 700px;
    height: inherit;
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) -36.31%, 
    rgba(0, 0, 0, 0.71) 65.92%, 
    rgba(0, 0, 0, 0.35) 100%);
}
#first-div-p p{
    font-family: var(--body-text-font);
    font-size: var(--big-body-text-font-size);
    font-weight: var(--body-text-font-weight);
    position: relative;
    top: 5.3cm;
}
#coser{
    width: 370px;
    position: relative;
    top: 6.8cm;
    font-family: var(--btntff);
}
#coser a{
    width: 150px;
    height: 40px;
    border-radius: 5px;
}
.contact, .services:hover {
    background-color: var(--neutral);
    border: none;
    color: var(--godark);
}
.contact:hover, .services{
    background-color: transparent;
    border: 1px solid var(--neutral);
    color: var(--neutral);
}
#second-div{
    background-image: url("img2.jpeg");
    background-size: cover;
    transform: matrix(-1 ,0, 0, 1, 0, 0);
    height: 600px;
}
#second-div :is(h1, ul){
    transform: matrix(-1 ,0, 0, 1, 0, 0);
    font-family: var(--body-text-font);
    letter-spacing: var(--bold-body-text-letter-spacing);
    font-feature-settings: var(--bold-body-text-font-feature-settings);
}
#second-div h1{
    font-size: 35px;
}
#second-div ul{
    font-size: 23px;
    line-height: 35px;
}
#cir{
    width: 190px;
    height: 190px;
    display: grid;
    place-items: center;
    border-radius: 175px;
    box-sizing: border-box;
    border: 2px solid var(--primary);
}
#rg p{
    font-family: var(--body-text-font);
    font-style: var(--body-text-font-style);
    font-weight: var(--bold-body-text-font-weight);
    font-size: var(--big-body-text-font-size);
}
#mixvi{
    font-family: var(--body-text-font);
}
#mi, #vi{
    border: 2px solid var(--primary);
    width: 450px;
    height: 350px;
    line-height: 50px;
}
#ocv{
    background-color: var(--primary);
    font-family: var(--body-text-font);
}
#ocv :is(p, h2){
    letter-spacing: var(--bold-body-text-letter-spacing);
    word-spacing: var(--bold-body-text-letter-spacing);
    line-height: var(--big-body-text-line-height);
}
iconify-icon[icon="teenyicons:heart-circle-outline"]{
    position: relative;
    top: 2.2rem;
} 
iconify-icon[icon="fa-solid:hands"]{
    position: relative;
    bottom: 2.2rem;
}

#twp{
    font-family: var(--body-text-font);
}
#tcir{
    width: 190px;
    height: 190px;
    border-radius: 175px;
    color: var(--neutral);
    background-color: var(--primary);
}
#tcir:hover{
    border: 1px solid var(--primary);
    background-color: var(--neutral);
    color: var(--primary);
}
#mobilemodal, #pymodal,
#webdevmodal, #dlmodal,
#ixmodal{
    height: auto;
}
.mobModal, .pyModal,
.webModal, .dlModal,
.uiModal{
    font-family: var(--body-text-font);
    font-style: var(--body-text-font-style);
    font-weight: var(--body-text-font-weight);
    font-size: 14px;
    line-height: 37px;
    overflow: hidden;
    letter-spacing: var(--bold-body-text-letter-spacing);
    font-feature-settings: var(--bold-body-text-font-feature-settings);
    color: var(--text);
}
.closeModal{
    position: relative;
    bottom: 4.5cm;
    float: right;
    left: 0.7cm;
}
.closeModall{
    position: relative;
    bottom: 3cm;
    float: right;
    left: 0.7cm;
}
.bspan{
    position: relative;
    bottom: 5px;
    left: 7px;
    color: var(--primary);
    font-weight: bold;
}
.big-icon-mobile{
    position: relative;
    float: right;
    opacity: 0.2;
    bottom: 13cm;
    left: 2in;
}
.big-icon-python{
    position: relative;
    opacity: 0.2;
    bottom: 13cm;
    left: 1.399in;
}
.big-icon-web{
    position: relative;
    opacity: 0.2;
    bottom: 13cm;
    left: 1.399in;
}
.big-icon-dl{
    position: relative;
    opacity: 0.2;
    bottom: 13cm;
    left: 1.399in;
}
.big-icon-ui{
    position: relative;
    opacity: 0.2;
    bottom: 13cm;
    left: 1.399in;
}
.smallerc{
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    border-radius: 35px;
    position: relative;
    z-index: 1;
    bottom: 0.5cm;
}
.smallerc :is(iconify-icon){
    color: var(--primary);
}
#tlogo{
    height: 50px;
}
.hr-line{
    border: 2px dashed var(--secondary);
    height: 0;
}
.outdleft{
    position: relative;
    bottom: 7cm;
    left: 1.3in;
    transform: rotate(25deg);
    width: 500px;
}
.outtop{
    position: relative;
    left: 5.2in;
    bottom: 8.6cm;
    transform: rotate(90deg);
    width: 200px;
}
.outdright{
    position: relative;
    float: right;
    right: 1.3in;
    bottom: 10.2cm;
    transform: rotate(155deg);
    width: 500px;
}
.outleft{
    position: relative;
    float: right;
    left: 8cm;
    bottom: 7.5cm;
    transform: rotate(180deg);
    width: 300px;
}
.outright{
    position: relative;
    left: 5.2cm;
    bottom: 8cm;
    transform: rotate(180deg);
    width: 300px;
}
#itlab{
    height: 600px;   
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("office.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 100% 100%;
    font-family: var(--body-text-font);
    font-style: var(--body-text-font-style);
    font-size: 61.05px;
    font-weight: var(--body-text-font-weight);
    line-height: 79px;
}
#itlab h1{
    position: relative;
    top: 7cm;
    margin-left: 0.5in;
    color: var(--neutral);
    
}
#blog, #events{
    font-family: var(--body-text-font);
}
#blog h1, #twp h1, #ocv h1, #events h1{
    font-weight: var(--bold-body-text-font-weight);
    font-size: var(--header-text1-font-size);
    font-style: var(--body-text-font-style);
    letter-spacing: var(--bold-body-text-letter-spacing);
    font-feature-settings: var(--bold-body-text-font-feature-settings);
    line-height: 56px;
    color: var(--text);
}
img[alt="pic"]{
    width: 350px;
    height: 300px;
    border-radius: 10px;
}
.blog-content b{
    position: relative;
    top: 1cm;
    font-size: larger;
    letter-spacing: 0.1rem;
}
.blog-content p{
    position: relative;
    top: 1cm;
    font-size: small;
    line-height: 30px;
}
#blogonebtn, #blogtwobtn{
    border: none;
    outline: none;
    background-color: transparent;
    font-weight: bold;
}
:is(#blogonebtn, #blogtwobtn) :is(a) {
    text-decoration: none;
    color: var(--text)
}
#events{
    margin-top: 1cm;
    font-weight: var(--body-mid-text-font-weight);
    font-style: var(--body-text-font-style);
    line-height: 40px;
    letter-spacing: var(--bold-body-text-letter-spacing);
    font-feature-settings: var(--bold-body-text-font-feature-settings);
}
#events img{
    position: relative;
    width: 220px;
    height: 170px;
}
img[alt="01"]{
    right: 3rem;
    top: 3rem;
}
img[alt="02"]{
    left: 9cm;
    bottom: 1cm;
}
img[alt="03"]{
    left: 2in;
    bottom: 4cm;
}
.moreContent{
    width: 670px;
    height: 150px;
    position: relative;
    bottom: 3cm;
}
a[name="events"]{
    position: relative;
    bottom: 2cm;
    width: 250px;
    height: 72px;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 1rem 3rem;
    text-align: center;
    color: var(--neutral);
    background-color: var(--primary);
}
a[name="events"]:hover{
    border: 1px solid var(--primary);
    background-color: var(--neutral);
    color: var(--primary);
}
.event-icon{
    position: relative;
    bottom: 3.5rem;
    left: 0.8rem;
    color: var(--secondary);
    transform: rotate(-20deg);
}
footer{
    font-family: var(--body-text-font);
    background-color: var(--primary);
    color: var(--neutral);
    font-size: 18px;
}
.footer-socials a{
    color: var(--neutral);
    cursor: pointer;
}
.footer-socials a:hover{
    color: var(--neutral);
    animation: shake 2s infinite;
}
.footer-links a{
    color: var(--neutral);
    text-decoration: none;
}
.footer-links a:hover{
    color: var(--neutral);
    text-decoration: underline;
    text-underline-offset: 0.5rem;
}
@keyframes shake{
    10%{ transform: scale(1.05) rotate(5deg);}
    20%{ transform: scale(1.05) rotate(-5deg);}
    30%{ transform: scale(1.05) rotate(5deg);}
    40%{ transform: none;}
}
@media screen and (min-width: 200px) and (max-width: 480px) {
    #logo{
        float: left;
        position: relative;
        right: 4rem;
    }
    #first-div-p{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-items: end;
    }
    #first-div-p > p{
        font-size: large;
    }
    #first-div-p > div{
        margin-bottom: 10cm;
    }
    #coser{
        font-size: smaller;
    }
    #coser :is(.services, .contact){
        width: 90px;
        height: 35px;
    }
    #pdt h1, #ocv h1,
    #twp h1, #blog h1,
    #events h1{
        font-size: 17px;
    }
    #pdt h1, #ocv h1{
        position: relative;
        left: -2rem;
    }
    #rg img[alt="schoola"] {
        height: 20px;
    }
    #rg img{
        width: 40px;
        height: 40px;
    }
    #rg p{
        font-size: 17px;
    }
    #cir , #tcir{
        width: 70px;
        height: 70px;
        border-radius: 35px;
    }
    :is(#mi, #vi){
        width: 110px;
        line-height: 25px;
    }
    :is(#mi, #vi) :is(h1) {
        font-size: medium;
    }
    :is(#mi, #vi) :is(p) {
        font-size: x-small;
    }
    #ocv-div-single{
        width: 70px;
    }
    #ocv-div-single h2{
        font-size: small;
    }
    #ocv-div-single p{
        line-height: 25px;
        font-size: x-small;
    }
    #ocv iconify-icon{
        transform: scale(0.6);
    }
    iconify-icon[icon="teenyicons:heart-circle-outline"]{
        position: relative;
        top: 0;
    }
    iconify-icon[icon="fa-solid:hands"]{
        position: relative;
        bottom: 1.2cm;
    }
    #tcir p {
        font-size: xx-small;
    }
    .smallerc{
        transform: scale(0.4);
        bottom: 1.7rem;
        right: 0.4rem;
    }
    .smallerc :is(iconify-icon) {
        transform: scale(0.5);
    }
    hr{
        display: none;
    }
    #itlab{
        position: relative;
        bottom: 5cm;
    }
    .cr{
        top: 0.5cm;
    }
    #tlogo{
        margin-bottom: 6rem;
        width: 120px;
        height: 30px;
    }
    #blog{
        position: relative;
        bottom: 3cm;
    }
    .firstblog, .secondblog{
        width: 170px;
        height: 500px;
    }
    .firstblog img, .secondblog img{
        width: inherit;
        height: 160px;
    }
    .firstblog :is(b, p),
    .secondblog :is(b,p){
        font-size: smaller;
        line-height: 25px;
    }
    #events img{
        width: 90px;
        height: 80px;
    }
    img[alt="00"]{left: -4rem;}
    img[alt="01"]{left: 0; top: -3rem;}
    img[alt="02"]{left: 4rem; top: -6rem;}
    img[alt="03"]{left: 9rem; top: -14rem;}
    .moreContent{
        position: relative;
        right: 1.7cm;
        top: -5cm;
    }
    .moreContent .h5{
        font-size: 15px;
    }
    .moreContent .h6{
        font-size: smaller;
    }
    .moreContent a{
        position: relative;
        bottom: 1cm;
    }
    .moreContent iconify-icon{
        display: none;
    }
    footer{
        font-size: 13px;
    }
    .footer-socials a{
        transform: scale(0.7);
    }
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
    .navList{
        padding: 0.5rem 0.5rem;
    }
    hr{
        display: none;
    }
}